* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #09769e;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem;
}
.title {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  white-space: nowrap;
}
.section-one {
  width: 30%;
  height: 100vh;
  margin-left: 3rem;
}
.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100vh;
}

.brush-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #f6bd60;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 45vw;
  border: 0.5rem solid black;
  align-items: stretch;
  background-color: #f2f4f3;
  border-radius: 7px;
}
/* Div Styling */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.column {
  flex-basis: 100%;
  background-color: #f2f4f3;
}

.row {
  background-color: #f2f4f3;
}
.grid-lines {
  outline: 0.5px solid gray;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: 1.375rem;
  font-weight: 500;
}
.top-menu,
.middle-menu,
.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu button {
  width: 10rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 12px;
  margin: 1rem 1rem;
}

.clear-btn {
  background-color: #f9ce4e;
  outline: 0.5rem solid #f9ce4e;
}
.grid-lines-toggle {
  background-color: #f7f0f0;
  outline: 0.5rem solid #f7f0f0;
}
.random-btn {
  background-color: #d36582;
  outline: 0.5rem solid #d36582;
}
.color-picker {
  background-color: #4babe7;
  outline: 0.5rem solid #4babe7;
}
.darken {
  background-color: #9c9996;
  outline: 0.5rem solid #9c9996;
}
.lighten {
  background-color: #cecaca;
  outline: 0.5rem solid #cecaca;
}

#grid-size {
  margin: 1rem;
}
.grid-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-lines-toggle label {
  white-space: nowrap;
}

.grid-lines-toggle {
  padding: 4px;
  user-select: none;
}
