* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #09769e;
  background-color: #588157;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem;
}
.title {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-basis: 100%;
  white-space: nowrap;
}
.section-one {
  min-width: 30%;
  height: 100vh;
  margin-left: 3rem;
}
.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-width: 70%;
  height: 100vh;
}

.brush-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: #f6bd60;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 45vw;
  border: 0.5rem solid black;
  align-items: stretch;
  background-color: white;
  border-radius: 7px;
}
/* Div Styling */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.column {
  flex-basis: 100%;
  background-color: white;
}

.grid-lines {
  outline: 0.5px solid gray;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
}
.top-menu,
.middle-menu,
.bottom-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu button {
  background-color: #f9ce4e;
  outline: 0.4rem solid #f9ce4e;
  width: 10rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 12px;
  margin: 1rem 1rem;
}

.grid-lines-toggle {
  padding: 4px;
  user-select: none;
}

button.selected {
  outline-color: black;
}
.random-btn {
  background-color: #f9ce4e;
  outline: 0.4rem solid #f9ce4e;
}
.color-btn {
  background-color: #f9ce4e;
  outline: 0.5rem solid #f9ce4e;
}
button.darken {
  background-color: #9c9996;
  outline: 0.4rem solid #9c9996;
}
button.darken.selected {
  outline-color: black;
}

button.lighten {
  background-color: #cecaca;
  outline: 0.4rem solid #cecaca;
}

button.lighten.selected {
  outline-color: black;
}

#grid-size {
  margin: 0.5rem;
  padding: 0 1rem;
  width: 8rem;
}
.grid-input {
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  background-color: #f9ce4e;
  width: 10rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 12px;
  margin: 1rem 1rem;
  padding: 1rem;
  outline: 0.5rem solid #f9ce4e;
}
.grid-lines-toggle label {
  white-space: nowrap;
}
#pick-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0.25rem;
  height: 3rem;
  width: 3rem;
  appearance: none;
  background-color: transparent;
  border: none;
}
#pick-color::-webkit-color-swatch {
  border-radius: 12px;
  border: none;
}
.input-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9ce4e;
  width: 10rem;
  height: 6rem;
  border: 2px solid black;
  border-radius: 12px;
  margin: 1rem 1rem;
  outline: 0.5rem solid #f9ce4e;
}
.color-picker label {
  font-size: 1rem;
}
.quote {
  padding: 1rem;
  text-align: center;
}
a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: #f9ce4e;
}

.active {
  outline: 3px solid #f9ce4e;
}
