* {
  font-family: "Poppins", sans-serif;
}
body {
  /* background-color: cadetblue; */
  background-color: #09769e;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  margin: 1rem;
}
.title {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-basis: 100%;
  white-space: nowrap;
}
.section-one {
  width: 30%;
  height: 100vh;
  margin-left: 3rem;
}
.section-two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100vh;
}

.brush-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border-radius: 50px;
  background-color: #f6bd60;
  border: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 45vw;
  border: 0.5rem solid black;
  align-items: stretch;
  background-color: #f2f4f3;
  border-radius: 7px;
}
/* Div Styling */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.column {
  flex-basis: 100%;
  background-color: #f2f4f3;
}

.row {
  background-color: #f2f4f3;
}
.grid-lines {
  outline: 0.5px solid gray;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 60%; */
  width: 25vw;
}
.menu button {
  background-color: #f2f4f3;
  height: fit-content;
  width: unset;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: bold;
}
#grid-size {
  margin: 1rem;
}
.grid-input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.grid-lines-toggle label {
  white-space: nowrap;
}

.grid-lines-toggle {
  padding: 4px;
  user-select: none;
}
