/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

* {
  font-family: poppins, sans-serif;
}
body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-one {
  width: 30%;
  height: 100vh;
}
.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  height: 45vw;
  border: 0.2rem solid black;
  align-items: stretch;
  background-color: white;
}
/* Div Styling */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.column {
  flex-basis: 100%;
}

.row {
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  background-color: white;
}
.column {
  border-right: 0.5px solid gray;
  border-left: 0.5px solid gray;
  background-color: white;
}
